header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(/888686938953370280.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 30px);
  font-family: 'Arial', sans-serif;
}

main {
  min-height: calc(100vh - 180px);
}



.site-header {
  background-color: #d12a2a;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 3px solid var(--accent-color);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link {
  color: #f3e0b8;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-link:hover {
  border-bottom-color: currentColor;
}

.nav-link.active {
  border-bottom-color: currentColor;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 30px;
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 10px;

}

p {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 30px;

}

h2 {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  background: linear-gradient(to bottom,
      #5a3d22,
      #3b2715);
  border-top: 3px solid #c4a46d;
  padding: 10px 10px;
  text-align: center;
  color: #f0e0c0;
  font-family: 'Cinzel', serif;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #d9bf8a;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff0c7;
  text-shadow: 0 0 8px #d9bf8a;
}

.footer-frase {
  font-style: italic;
  opacity: 0.8;
  margin-top: 15px;
}

.secao-capa {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 35px auto 45px auto;
  padding: 0 20px;
  gap: 40px;
  box-sizing: border-box;
}

.moldura-livro {
  max-width: 380px;
  width: 100%;
  background-color: #1a0f00;
  padding: 6px;
  border: 3px solid #8c2323;
}

.imagem-capa {
  display: block;
  width: 100%;
  height: auto;
  max-height: 520px;
  object-fit: contain;
}